<div class="container" *ngIf="application">
  <div class="row">
    <div class="col-md-6">
      <app-status
        *ngIf="application"
        [applicationReviewContent]="application"
      ></app-status>
    </div>
    <div class="col-md-6">
      <form (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="FormControlSelect"><strong>Statuso pakeitimas</strong>  </label>
          <select
            class="form-control col-md-10 "
            [(ngModel)]="selectedOption"
            name="first"
          >
          
            <option *ngFor="let o of options">
              {{ o.name }}
            </option>
          </select>
        </div>

        <button type="submit" (click)="print()" class="btn btn-primary">
          Išsaugoti
        </button>
      </form>
    </div>
  </div>
  <div class="row-col-md-5 justify-content-left"></div>
  <h3>Aplikanto profilis</h3>
</div>

<app-view-applicant-profile [viewApplicantProfileContent]="application">
</app-view-applicant-profile>
