<div class="container" *ngIf="application">
  <div class="row">
    <div class="col-md-6">
      <app-status
        *ngIf="application"
        [applicationReviewContent]="application"
      ></app-status>
    </div>

    <div class="col-md-6">
      <form (ngSubmit)="onSubmit()">
        <div class="form-group">
          <h4>Statuso pakeitimas</h4>
          <mat-form-field>
            <mat-label>pasirinkti keisti statusą</mat-label>
            <mat-select [(ngModel)]="selectedOption" name="first">
              <mat-option *ngFor="let o of options" [value]="o.name">
                {{ o.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <button type="submit" (click)="print()" class="btn btn-primary">
          Išsaugoti
        </button>
      </form>
    </div>
  </div>
  <div class="row-col-md-5 justify-content-left"></div>
  <h3>Aplikanto profilis</h3>
</div>

<app-view-applicant-profile [viewApplicantProfileContent]="application">
</app-view-applicant-profile>
