<div class="container pt-5 d-none d-md-block ">
    <div id="box"> 
        <div class="row mx-md-n5">
                    <div class="col-lg-12 text-left centered">
                        <div class="container col-lg-6 text-white pb-2 pt-2" id="home-page-text-box">
                        <h3> 2021 m. „IT Akademija“ siūlo:</h3>
                        <ul>
                            <li>No-bullshit mokymosi programą, kurią dėsto tose srityse patyrę darbuotojai</li>
                            <li>Mėnesio trukmės IT projektą Agile/Scrum komandoje</li>
                            <li>Apmokamą 2 mėnesių stažuotę bei tolimesnes karjeros galimybes</li>
                        </ul>
                        </div> 
                        <div class="col text-center mt-5 mb-5 ">
                            <button type="button" class="btn btn-primary btn-lg" [routerLink]="'/registration'">Registruokis čia</button>
                        </div>
                        <div class="col text-center">
                            <a href="#" class="btn btn-dark btn-lg" > 
                                <i class="fas fa-angle-double-down"></i>
                                 Daugiau informacijos
                            </a>
                        </div>
                        
                    </div> 
            </div>
    </div>
</div>