<div class="bg container-fluid">
    <div class="container headerBox ">
        <h2 class="text-uppercase text-center">Registracija į 2021m. IT Akademiją</h2>
    </div>
<div class="container"> </div>
<div>
<div class="row d-flex p-5"> 
<div class="col-4"></div>
<div class="col-4">Keisti detales</div>
<div class="col-4">Parašyti IT akademijai</div>
</div>
<div class="d-flex justify-content-center m-5">
<div class="row d-flex flex-row"> 
<div class="col-sm-4 text-uppercase infoBoxMain">Vardas, Pavardė</div>
<div class="col-sm-6 infoBoxText">
    
        
</div>
<div class="col-sm-4 text-uppercase infoBoxMain">Elektroninis paštas, telefono nr., nuoroda į puslapį</div>
<div class="col-sm-6"></div>
<div class="col-sm-4 text-uppercase infoBoxMain">Laikas praktikai ir praktikos sutartis</div>
<div class="col-sm-6"></div>
<div class="col-sm-4 text-uppercase infoBoxMain">Technologijos</div>
<div class="col-sm-6"></div>
<div class="col-sm-4 text-uppercase infoBoxMain">Lūkesčiai</div>
<div class="col-sm-6"></div>
<div class="col-sm-4 text-uppercase infoBoxMain ">Informacija apie mokymo įstaigą</div>
<div class="col-sm-6"></div>
<div class="col-sm-4  text-uppercase infoBoxMain">Pomėgiai ir Informacija apie IT Akademiją</div>
<div class="col-sm-6"></div>
</div>
</div>
</div>

</div>
