.bg{
    background-color: #ffffe6;
    box-sizing: border-box;
    min-height: 100vh;
}

.headerBox {
    margin-top: 25px;
    padding-bottom: 50px;
    padding-top: 50px;
}

.infoBoxMain {
    background-color:  #a6a6a6;
    box-sizing: border-box;
    padding: 15px;
    margin: 5px;
    border-radius: 10px;
    color:  #ffffff;
    font-family: 'Bookman';
    font-size: large;
    
}


.infoBoxText {
    box-sizing: border-box;
    padding: 15px;
    margin: 5px;
    font-family: 'Bookman';
    font-size: large;
}

#module {
    width: 500px;
  }
  
  #module p.collapse[aria-expanded="false"] {
      display: block;
      height: 40px !important;
      overflow: hidden;
  }
  
  #module p.collapsing[aria-expanded="false"] {
      height: 40px !important;
  }
  
  #module a.collapsed:after  {
      content: '+ Show More';
  }
  
  #module a:not(.collapsed):after {
      content: '- Show Less';
  }