.white {
    border-radius: 12px;
    border: #595959;
    border-style: ridge;
    border-width: thin;
    background-color: #ffffff;
    color: #595959;
    text-align: center;
}


.purple {
    border-radius: 12px;
    border: #595959;
    border-style: ridge;
    border-width: thin;
    background-color:  #f2e6ff;
    color: #595959;
    text-align: center;
}


.orangle {
    border-radius: 12px;
    border: #595959;
    border-style: ridge;
    border-width: thin;
    background-color: #ffe6b3; 
    color: #595959;
    text-align: center;
}


.green {
    border-radius: 12px;
    border: #595959;
    border-style: ridge;
    border-width: thin;
    background-color: #c6ecc6;
    color: #595959;
    text-align: center;
}

.redN {
    border-radius: 12px;
    border: #595959;
    border-style: ridge;
    border-width: thin;
    background-color:  #ffcccc;
    color: #595959;
    text-align: center;
}

.main{
    width: 500px;
}

.inline {
    display: inline;
    text-align: center;
    font-size: 25px;
}

#imgresponsive {
    width: 70px;
    height: 70px;
    display: inline;
    box-sizing: border-box;
}