<div class="bg container-fluid">
  <div class="container headerBox ">
    <h2 class="text-uppercase text-center">Registracija į 2021m. IT Akademiją</h2>
  </div>
  <div class="d-flex justify-content-center">
    <!-- <div class="container text-center statusBox fontsStyle fontSize shadow"><i class="far fa-clock"></i>  {{applicationReviewContent.status}} </div> -->
    <app-status *ngIf="applicationReviewContent"
      [applicationReviewContent]="applicationReviewContent"
    ></app-status>
  </div>
  <div>
    <div class="row d-flex p-5">
      <div class="col-sm-4 fontsStyle"><i class="fas fa-clock"></i>
        <p class="inline">Tavo registracijos data
          :</p>  {{applicationReviewContent.dateCreated.toString().substr(0, 10)}}      </div>
      <div class="col-sm-4 fontsStyle "><i class="fas fa-pencil-alt"></i> Keisti detales</div>
      <div class="col-sm-4 fontsStyle "><i class="far fa-paper-plane"></i> <a href="mailto:name@mydomain.com">Parašyti
        IT akademijai</a></div>
    </div>
    <app-view-applicant-profile
    [viewApplicantProfileContent]="applicationReviewContent"
    >
    </app-view-applicant-profile>
  </div>
  <div class="container-fluid d-flex flex-row-reverse">
    <!--   <div class="m-5 ">
       <button class="btn btn-success btn-lg" (click)="logout()" [routerLink]="'/home'">Atsijungti<br></button>
       </div> -->
  </div>


</div>
