<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="">
        <img src="../assets/terai.png" width="50" height="50" alt="">
      </a>
    </div>
    <ul class="nav nav-tabs" *ngIf="this.authenticationService.currentUserValue">
      <li data-toggle="tab" *ngIf="this.authenticationService.currentUserValue.role === 'admin'" class="nav-item">
        <a *ngIf="router.url==='/admin'" href="/admin" class="nav-link active">HR NAUDOTOJAI</a>
        <a *ngIf="router.url!='/admin'" href="/admin" class="nav-link">HR NAUDOTOJAI</a>
      </li>
      <li data-toggle="tab" *ngIf="this.authenticationService.currentUserValue.role === 'admin'" class="nav-item">
        <a *ngIf="router.url==='/create-account'" href="/create-account" class="nav-link active">PRIDĖTI NAUDOTOJĄ</a>
        <a *ngIf="router.url!='/create-account'" href="/create-account" class="nav-link">PRIDĖTI NAUDOTOJĄ</a>
      </li>
      <li data-toggle="tab"
          *ngIf="this.authenticationService.currentUserValue.role === 'hr'||this.authenticationService.currentUserValue.role === 'admin'"
          class="nav-item">
        <a *ngIf="router.url==='/hr'" href="/hr" class="nav-link active">APLIKACIJOS</a>
        <a *ngIf="router.url !='/hr'" href="/hr" class="nav-link">APLIKACIJOS</a>
      </li>
      <li data-toggle="tab" *ngIf="this.authenticationService.currentUserValue.role === 'application'" class="nav-item">
        <a *ngIf="router.url==='/application'" href="/application" class="nav-link active">APLIKACIJOS PERŽIŪRA</a>
        <a *ngIf="router.url!='/application'" href="/application" class="nav-link">APLIKACIJOS PERŽIŪRA</a>
      </li>
    </ul>
    <ul class="nav nav-pills">
      <li *ngIf="!this.authenticationService.currentUserValue">
        <a href="/login" class="nav-link active">PRISIJUNGTI</a>
      </li>
      <li *ngIf="this.authenticationService.currentUserValue" on-click="this.authenticationService.logout()">
        <a href="/home" class="nav-link active">ATSIJUNGTI</a>
      </li>
    </ul>
  </div>
</nav>
