<div class="bg-img1 container-fluid">
    <div class="row p-1">
    <div class="col-sm-8 offset-sm-2 form-box">
        <h2 class="text-uppercase text-center p-2">Jūsų registracija sėkminga ! </h2>
        <p class="p-1"> Pasitikrinus paraiškoje nurodytą elektroninį paštą, rasite slaptažodį ir nuorodą į sistemą, kurioje galite matyti savo paraiškos būseną. </p>
        <p class="p-1">Dėkojame už Jūsų dėmesį.</p>
        <div class ="container d-flex flex-row p-1">
            <button type="button" class="btn btn-primary btn-lg" [routerLink]="'/home'" > Grįžti </button> 
      </div>
    </div>

</div>
</div>
<div class="bg-light">
    <app-copyright *ngFor="let copyright of copyrightList"
          [copyright]="copyright">
        </app-copyright>
        </div>
