<div class="d-md-none">
    <div id="box"> 
        <div class="row mx-md-n5">
                    <div class="col-lg-12 text-center">
                        <div class="container col-lg-6 text-white" id="home-page-text-box">
                        <h5> 2021 m. „IT Akademija“ siūlo:</h5>
                            <p> &#9642; No-bullshit mokymosi programą, kurią dėsto tose srityse patyrę darbuotojai </p>
                            <p> &#9642; Mėnesio trukmės IT projektą Agile/Scrum komandoje</p>
                            <p> &#9642; Apmokamą 2 mėnesių stažuotę bei tolimesnes karjeros galimybes </p>
                        </div> 
                        <div class="col pb-2">
                            <button type="button" class="btn btn-primary" [routerLink]="'/registration'">Registruokis čia</button>
                        </div>
                        <div class="col">
                            
                            <a href="#" class="btn btn-dark">
                                <i class="fas fa-angle-double-down"></i>
                                Daugiau informacijos
                            </a>
                        </div>
                        
                    </div> 
            </div>
    </div>

</div>