<div *ngIf="applicantion$ | async as applicantion">
  <!-- <td>{{ applicantion.status.name }}</td> -->
</div>

<div class="container" *ngIf="applicantion$ | async as applicantion">
  <div class="row-col-md-5 justify-content-left">
    <h2>Aplikanto profilis</h2>
    <h5>Statusas: {{ applicantion.status.name }} </h5>
    <div class="form-group ">
      <form [formGroup]="applicationForm"
        (ngSubmit)="onSubmit();"   >
       <div class="form-group col-md-6">
      <label for="FormControlSelect">Statuso pakeitimas</label>
      <select class="form-control col-md-6" id="FormControlSelect">
        <option>IT akademija gavo formą</option>
        <option>Registracijos forma yra peržiūrima</option>
        <option>Priėmimas į akademiją patvirtintas</option>
        <option>Neigiamas atsakymas dėl priemimo į akademiją</option>
       
      </select>
    </div>
      <div class="col-sm-10"><button type="submit" class="btn btn-primary">Išsaugoti</button></div>
      
    </div>
  </form> </div> </div>
    <table class="table table-striped " >
      <tbody>
      <tr>
        <th>Vardas</th>
        <td>{{ applicantion.firstName }}</td>
      </tr>
      <tr>
        <th>Pavardė</th>
        <td>{{ applicantion.lasttName }}</td>
      </tr>
      <tr>
        <th>El.paštas</th>
        <td>{{ applicantion.email }}</td>
      </tr>
      <tr>
        <th>Ar galės skirti akademijai laiką darbo dienomis 14-18 val?</th>
        <td>{{ applicantion.academyTime }}</td>
      </tr>
      <tr>
        <th>Ar bus galimybį pasirašyti trišalę sutartį</th>
        <td>{{ applicantion.contractAgreement }}</td>
      </tr>
      <tr>
        <th>Komentaras, kodėl negalės pasirašyti trišalės sutarties</th>
        <td>{{ applicantion.contractReason }}</td>
      </tr>
      <tr>
        <th class="col-md-2">
          Kokios technologijos tau labiausiai patinka ir su kokiomis iš jų jau
          turi patirties?
        </th>
        <td>{{ applicantion.likedTechnologies }}</td>
      </tr>
      <tr>
        <th>Kodėl nori dalyvauti IT akademijoje? Kokie tavo lūkesčiai?</th>
        <td>{{ applicantion.reasonForApplying }}</td>
      </tr>
      <tr>
        <th>Mokymo įstaiga</th>
        <td>{{ applicantion.school }}</td>
      </tr>
      <tr>
        <th>Studijų kryptis</th>
        <td>{{ applicantion.degree }}</td>
      </tr>
      <tr>
        <th>Tel. numeris</th>
        <td>{{ applicantion.mobileNumber }}</td>
      </tr>
      <tr>
        <th>Nuoroda į LinkedIN profilį arba į asmeninį puslapį</th>
        <td>
          <a>{{ applicantion.linkedinUrl }}</a>
        </td>
      </tr>
      <tr>
        <th>Nuotrauka</th>
        <td>{{ applicantion.photo }}</td>
      </tr>
      <tr>
        <th>Pomėgiai</th>
        <td>{{ applicantion.hobbies }}</td>
      </tr>
      <tr>
        <th>Iš kur sužinojai apie IT akademiją?</th>
        <td>{{ applicantion.referenceToI }}</td>
      </tr>
    </tbody>
    </table>
  </div>
</div>

<!-- <div>
    <h5 id="comments">Komentaras</h5>
    Palikti komentarą 
  </div>
   
   export interface Application {
    id?: number;
    firstName: string;
    lastName: string;
    email: string;
    academyTime: boolean;
    contractAgreement: boolean;
    contractReason: string;
    likedTechnologies: string;
    reasonForApplying: string;
    school?: string;
    degree?: string;
    mobileNumber?: string;
    linkedinUrl?: string;
    photo?: string;
    hobbies?: string;
    referenceToIt?: string;
    }-->
