<div class="container" *ngIf="application">
  <div class="row-col-md-5 justify-content-left">
    <h5>Statusas: {{ application.status }}</h5>
    <div class="form-group ">
      <form (ngSubmit)="onSubmit()">
        <div class="form-group col-md-5">
          <label for="FormControlSelect">Statuso pakeitimas</label>

          <select
            class="form-control col-md-10"
            [(ngModel)]="selectedOption"
            name="first"
          >
            <option *ngFor="let o of options">
              {{ o.name }}
            </option>
          </select>
        </div>
        <div class="col-sm-10">
          <button type="submit" (click)="print()" class="btn btn-primary">
            Išsaugoti
          </button>
        </div>
      </form>
    </div>
    <!-- (click)="refreshPage()" -->
    <div class="alert alert-success" role="alert">
      <h4>Atnaujintas statusas: {{ printedOption }}</h4>
    </div>
  </div>
  <h3>Aplikanto profilis</h3>
</div>


<app-view-applicant-profile
[viewApplicantProfileContent]="viewApplicantProfileContent"
>

</app-view-applicant-profile>