<div class=" form-group wrapper fadeInDown">
  <div id="formContent">
    <h1>Priminti slaptažodį?</h1>
    <form (ngSubmit)="onSubmit()" [formGroup]="forgotPasswordForm">
      <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{errorDisplayable}}</div>
      <div *ngIf="successMessage" class="alert-success mt-3 mb-0">{{successMessage}}</div>
      <div *ngIf="showSpinner" class="spinner-border text-info" role="status">
        <span class="sr-only">Loading...</span>
      </div><br/>
      <label for="userEmail">El. paštas</label>
      <input type="email" name="userEmail" formControlName="userEmail" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.userEmail.errors }"
             id="userEmail">
      <div *ngIf="submitted && f.userEmail.errors" class="invalid-feedback">
        <div *ngIf="f.userEmail.errors.required">El. paštas privalomas</div>
      </div>
      <button type="submit" [disabled]="f.invalid" class="fadeIn fourth">Siųsti</button>
    </form>
    <div id="formFooter">
      <a class="underlineHover" [routerLink]="['/login']">Prisijungti</a>
    </div>
  </div>
</div>
