

<div class="bg-img1 container-fluid">
    <div class="col-md text-center p-3">
        <h2 class="d-none d-sm-block w-50 ml-auto mr-auto text-white" id="title">Nori startuoti IT srityje?</h2>
        </div>
    
        <div class="container pt-5">
            <div id="box"> 
                <div class="row mx-md-n5">
                            <div class="col-lg-12 text-left">
                                <div class="container col-lg-6 text-white pb-2 pt-2" id="home-page-text-box">
                                <h3> 2021 m. „IT Akademija“ siūlo:</h3>
                                <ul>
                                    <li>No-bullshit mokymosi programą, kurią dėsto tose srityse patyrę darbuotojai</li>
                                    <li>Mėnesio trukmės IT projektą Agile/Scrum komandoje</li>
                                    <li>Apmokamą 2 mėnesių stažuotę bei tolimesnes karjeros galimybes</li>
                                </ul>
                                </div> 
                                
                            </div> 
                    </div>
            </div>
        </div>
    <div class="col text-center mt-5 mb-5 pb-2 ">
        <button type="button" class="btn btn-primary btn-lg" [routerLink]="'/registration'">Registruokis čia</button>
    </div>
    <div class="col text-center pb-2">
        <a href="#" class="btn btn-dark btn-lg" (click)="scroll()"> 
            <i class="fas fa-angle-double-down"></i>
             Daugiau informacijos
        </a>
    </div>
    
</div>
  
<div class="bg-img2 container-fluid justify-content-center" *ngIf="showOne" #nextElement>

</div>

<p>home-page works!</p>
<a class="btn btn-primary" href="#" role="button">Link</a>

<app-copyright *ngFor="let copyright of copyrightList"
      [copyright]="copyright">
    </app-copyright>


