<div id="home-page" class="container align-items-center" class="row mx-md-n5 pb-5">
    <div class="container">
        <div class="col text-center p-3 m-3">
        <h2>Nori startuoti IT srityje?</h2>
        </div>
    </div>
    
    <div class="container ">
        <img src="https://trello-attachments.s3.amazonaws.com/5e60e6ff0813097e6a43c2eb/5e6640a37e0871840c099784/854030b76a2c938c2f8f51a28bfd5550/shridhar-gupta-dZxQn4VEv2M-unsplash.jpg" alt="Snow" style="width:100%;">
    <app-home-page-big-text-box></app-home-page-big-text-box>
    <app-home-page-small-text-box></app-home-page-small-text-box>
</div>
</div>
