.bg-img1{
    background-image:url('https://images.unsplash.com/photo-1527192491265-7e15c55b1ed2?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    z-index: -1;
    height: 100vh;
    // position: absolute;
}
.bg-img2{
    background-image:url('https://images.unsplash.com/photo-1523240795612-9a054b0db644?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    z-index: -1;
    height: 100vh;
    // position: absolute;
}
#title{
  background: rgba(105,105,105, 0.85);
}

  #home-page-text-box{
    background: rgba(105,105,105, 0.85);
    font-size: 120%;
  }

  .btn.btn-primary{
    background: rgba(64, 153, 255, 0.85);
  }

  .btn.btn-dark{
    background: rgba(15, 21, 27, 0.85);
  }
